/* Container for the login page */
.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for the login form */
.login-form {
  background: white;
  padding: 20px;
  width: 50%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the form title */
.login-form h2 {
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

/* Styling for form labels */
.login-form label {
  font-weight: 600;
  margin-top: 10px;
}

/* Styling for form inputs */
.login-form input {
  padding: 8px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

/* Styling for the login button */
.login-btn {
  background-color: #1e293b;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}

/* Hover effect for the login button */
.login-btn:hover {
  background-color: black;
}

/* Styling for the signup link */
.signup-link {
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

/* Hover effect for the signup link */
.signup-link:hover {
  text-decoration: underline;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .account-container {
    padding: 10px;
  }

  .account-box {
    padding: 15px;
  }

  .avatar-img {
    width: 80px;
    height: 80px;
  }

  .channel-logo {
    width: 70px;
    height: 70px;
  }

  /* Adjust width for login form on smaller screens */
  .login-form {
    width: 80%;
  }

  /* Adjust padding for inputs on smaller screens */
  .login-form input {
    padding: 8px 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
}

/* Extra Small Devices */
@media (max-width: 480px) {
  .account-container {
    margin: 10px auto;
    padding: 5px;
  }

  .account-box {
    padding: 10px;
    gap: 10px;
  }

  .avatar-img {
    width: 60px;
    height: 60px;
  }

  .section-title {
    font-size: 18px;
    text-align: center;
  }

  .channel-logo {
    width: 60px;
    height: 60px;
  }

  .channel-container .channel-Details h2 {
    font-size: 16px;
  }

  /* Adjust width and padding for login form on extra small devices */
  .login-form {
    width: 100%;
    padding: 15px;
  }

  /* Adjust padding for inputs on extra small devices */
  .login-form input {
    padding: 8px 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
}